@{
    if (Context.Request.Cookies["UseCookies"] != "true")
    {
        <style>
            .footer {
                margin-bottom: 60px;
            }
        </style>
    }
}

<div id="mainFooter" class="col-12 footer">

    <div class="col-4 footer-logo-div">
        <img class="footer-logo" src="/data/new_logo_footer.png" alt="" />
    </div>

    <div class="col-4 footer-social">
        <div class="footer-center-div">
            <div class="">
                <a href="https://www.facebook.com/share/w9q92tYN9bfFR9mW/?mibextid=%22%22" target="_blank"><img class="footer-social-img footer-social-facebook" src="/data/facebook_footer.png" alt="" onmouseover="facebookOver()" onmouseout="facebookOut()" /></a>
            </div>

            <div class="">
                <a href="https://www.instagram.com/lovely.love.agency/" target="_blank"><img class="footer-social-img footer-instagram footer-social-instagram" src="/data/instagram_footer.png" alt="" onmouseover="instagramOver()" onmouseout="instagramOut()" /></a>
            </div>

            <div class="">
                <a href="https://t.me/valery_moshchenskaya" target="_blank"><img class="footer-social-img footer-social-telegram" src="/data/telegram_footer.png" alt="" onmouseover="telegramOver()" onmouseout="telegramOut()" /></a>
            </div>
        </div>

        <div>
            <p class="p-copy">Copyrights ©️ 2024 Rock & Roses</p>
        </div>

    </div>

    <div class="col-4 footer-contact-div" onmouseover="contactOver()" onmouseout="contactOut()" onclick="contactClick()">
        <div class="footer-contact">
            <div>
                <a asp-controller="Main" asp-action="Contact" class="footer-contact-link"><img class="footer-contact-img" src="/data/contact.png" alt="" /></a>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">

    function facebookOver() {
        var media = window.matchMedia('(hover: hover)');
        if (media.matches) {
            document.getElementsByClassName("footer-social-facebook")[0].src = "/data/facebook_color.png";
            document.body.style.cursor = "pointer";
        }
    }

    function facebookOut() {
        document.getElementsByClassName("footer-social-facebook")[0].src = "/data/facebook_footer.png";
        document.body.style.cursor = "default";
    }

    function instagramOver() {
        var media = window.matchMedia('(hover: hover)');
        if (media.matches) {
            document.getElementsByClassName("footer-social-instagram")[0].src = "/data/instagram_color.png";
            document.body.style.cursor = "pointer";
        }
    }

    function instagramOut() {
        document.getElementsByClassName("footer-social-instagram")[0].src = "/data/instagram_footer.png";
        document.body.style.cursor = "default";
    }

    function telegramOver() {
        var media = window.matchMedia('(hover: hover)');
        if (media.matches) {
            document.getElementsByClassName("footer-social-telegram")[0].src = "/data/telegram_color.png";
            document.body.style.cursor = "pointer";
        }
    }

    function telegramOut() {
        document.getElementsByClassName("footer-social-telegram")[0].src = "/data/telegram_footer.png";
        document.body.style.cursor = "default";
    }

    function contactClick() {
        document.getElementsByClassName("footer-contact-link")[0].click();
    }

    function contactOver() {
        var media = window.matchMedia('(hover: hover)');
        if (media.matches) {
            document.getElementsByClassName("footer-contact-img")[0].src = "/data/contact_color.png";
            document.body.style.cursor = "pointer";
        }
    }

    function contactOut() {
        document.getElementsByClassName("footer-contact-img")[0].src = "/data/contact.png";
        document.body.style.cursor = "default";
    }

</script>
