<title>Lovely Love Agency</title>

<link rel="apple-touch-icon" sizes="180x180" href="/data/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/data/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/data/favicon/favicon-16x16.png">
<link rel="manifest" href="/data/favicon/site.webmanifest">

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" lang="ru" content="Lovely Love Agency - это агенство, которое организовывает свидания, сюрпризы и предложения руки и сердца для влюбленных пар" />
<meta name="description" lang="en" content="A Lovely Love Agency is an agency that organizes dates, surprises and marriage proposals for couples in love" />
<meta name="description" lang="uk" content="Lovely Love Agency - це агентство, яке організовує побачення, сюрпризи і пропозиції руки і серця для закоханих пар" />

<meta name="keywords" lang="ru" content="организация свиданий, организация свиданий в Кракове, организовать сюрприз девушке, сделать сюрприз девушке, свидание в Кракове, любовные свидания, любовные свидания в Кракове, любовные сюрпризы, любовные сюрпризы в Кракове, любовные подарки"/>
<meta name="keywords" lang="en" content="organization of dates, organization of dates in Krakow, organize a surprise for a girl, make a surprise for a girl, date in Krakow, love dates, love dates in Krakow, love surprises, love surprises in Krakow, love gifts" />
<meta name="keywords" lang="uk" content="організація побачень, організація побачень в Кракові, організувати сюрприз дівчині, зробити сюрприз дівчині, побачення в Кракові, любовні побачення, любовні побачення в Кракові, любовні сюрпризи, любовні сюрпризи в Кракові, любовні подарунки" />

<script>history.scrollRestoration = "manual"</script>